body {
    background-color: black;
}

#canvasholder {
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#hal {
    position:absolute;
    /*left:0px;*/
    top:100px;
}

#first { 
    z-index: 1;
    position: absolute;
}

#second { 
    z-index: 2;
    position: absolute;
}

#third {    
    z-index: 3;
    position: absolute;
}

#container {
    width: 100%;
    display: block;
}
